@font-face {
  font-family: digital-number;
  src: url('./../font/sa-digital-number.ttf');
}
@font-face {
  font-family: AliHYAiHei;
  src: url('./../font/AliHYAiHei-Beta.ttf');
}
@font-face {
  font-family: DOUYU;
  src: url('./../font/douyuFont-2.otf');
}
@font-face {
  font-family: LianMengQiYiLuShuaiZhengRuiHeiTi;
  src: url('./../font/LianMengQiYiLuShuaiZhengRuiHeiTi-2.ttf');
}
@font-face {
  font-family: PingFang SC;
  src: url('./../font/PingFang.ttf');
}
@font-face {
  font-family: DINAlternateBold;
  src: url('./../font/DINAlternateBold.ttf');
}