@keyframes colorFlink {
  0% {
    color: aqua;
  }
  10% {
    color: red;
  }
  20% {
    color: green;
  }
  30% {
    color: orange;
  }
  40% {
    color: yellow;
  }
  50% {
    color: purple;
  }
  60% {
    color: pink;
  }
  70% {
    color: blue;
  }
  80% {
    color: seagreen;
  }
  90% {
    color: salmon;
  }
  100% {
    color: white;
  }
}